
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
//importamos la fuente del tipo de letra
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

//añadimos a la paleta de colores
$custom-colors: (
  "rojo": #c92435,
  "rosa": #fbe2dd,
  "azul": #437691,
  "blanco": #fbf7f4,
  "negro": #42474d,
  "alpino": #acc5dc,
  "oro": #faead3,
  "plata": #f2f3ee,
  "grafito": #5d5c58,
);
$theme-colors: map-merge($theme-colors, $custom-colors);

//cambiamos la variable del tipo de letra
$font-family-sans-serif: 'Playfair Display', serif;


@import "bootstrap/scss/bootstrap.scss";
